@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@font-face {
  font-family: 'Inter Variable';
  src: url('@fontsource-variable/inter/files/inter-latin-wght-normal.woff2')
    format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: 'Inter Variable', system-ui, sans-serif;
}
